# This workflow will do a clean install of node dependencies, build the source code and run tests
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Tests

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version:
        - '14.x'
        - '16.x'

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@master
      with:
        node-version: ${{ matrix.node-version }}

    # libyara 3.9 is supported
    - name: Install dependencies
      run: |
        sudo apt-get install libyara-dev
        yara --version

    - name: Build binaries with node-pre-gyp
      run: |
        set -x
        npm install --build-from-source

        npm install -g @mapbox/node-pre-gyp && node-pre-gyp unpublish package publish

#     - name: Run tests
#       run: npm test
